<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193215345040-0o2a869av7sorogkeuv54e2kukpj7pi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193215345040-0o2a869av7sorogkeuv54e2kukpj7pi6</string>
	<key>API_KEY</key>
	<string>AIzaSyDrjnStRekab5KTayHb3WUI_eGeKFYu-GE</string>
	<key>GCM_SENDER_ID</key>
	<string>193215345040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iX0ness.CarApp</string>
	<key>PROJECT_ID</key>
	<string>carapp-c5b33</string>
	<key>STORAGE_BUCKET</key>
	<string>carapp-c5b33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193215345040:ios:f3815b881364e765958315</string>
</dict>
</plist>